src/conf/xml-resources/web-service-references/wsarchivos/wsdl/localhost_8089/wsarchivos.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="WSArchivosService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8089/wsarchivos?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="CargadeDatos"></message>
<message name="CargadeDatosResponse"></message>
<message name="reproducirListaPD">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="reproducirListaPDResponse">
<part name="return" type="tns:dataTemas"></part>
</message>
<message name="getImagenAlbum">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getImagenAlbumResponse">
<part name="return" type="tns:dataBytes"></part>
</message>
<message name="reproducirListaP">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="reproducirListaPResponse">
<part name="return" type="tns:dataTemas"></part>
</message>
<message name="reproducirAlbum">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="reproducirAlbumResponse">
<part name="return" type="tns:dataTemas"></part>
</message>
<message name="cargarDatosBD"></message>
<message name="cargarDatosBDResponse"></message>
<message name="cargarArchivo">
<part name="rutaArchivo" type="xsd:string"></part>
</message>
<message name="cargarArchivoResponse">
<part name="return" type="tns:dataBytes"></part>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"></part>
</message>
<portType name="WSArchivos">
<operation name="CargadeDatos">
<input wsam:Action="http://WebServices/WSArchivos/CargadeDatosRequest" message="tns:CargadeDatos"></input>
<output wsam:Action="http://WebServices/WSArchivos/CargadeDatosResponse" message="tns:CargadeDatosResponse"></output>
</operation>
<operation name="reproducirListaPD" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/WSArchivos/reproducirListaPDRequest" message="tns:reproducirListaPD"></input>
<output wsam:Action="http://WebServices/WSArchivos/reproducirListaPDResponse" message="tns:reproducirListaPDResponse"></output>
</operation>
<operation name="getImagenAlbum" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/WSArchivos/getImagenAlbumRequest" message="tns:getImagenAlbum"></input>
<output wsam:Action="http://WebServices/WSArchivos/getImagenAlbumResponse" message="tns:getImagenAlbumResponse"></output>
</operation>
<operation name="reproducirListaP" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/WSArchivos/reproducirListaPRequest" message="tns:reproducirListaP"></input>
<output wsam:Action="http://WebServices/WSArchivos/reproducirListaPResponse" message="tns:reproducirListaPResponse"></output>
</operation>
<operation name="reproducirAlbum" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/WSArchivos/reproducirAlbumRequest" message="tns:reproducirAlbum"></input>
<output wsam:Action="http://WebServices/WSArchivos/reproducirAlbumResponse" message="tns:reproducirAlbumResponse"></output>
</operation>
<operation name="cargarDatosBD">
<input wsam:Action="http://WebServices/WSArchivos/cargarDatosBDRequest" message="tns:cargarDatosBD"></input>
<output wsam:Action="http://WebServices/WSArchivos/cargarDatosBDResponse" message="tns:cargarDatosBDResponse"></output>
</operation>
<operation name="cargarArchivo">
<input wsam:Action="http://WebServices/WSArchivos/cargarArchivoRequest" message="tns:cargarArchivo"></input>
<output wsam:Action="http://WebServices/WSArchivos/cargarArchivoResponse" message="tns:cargarArchivoResponse"></output>
<fault message="tns:IOException" name="IOException" wsam:Action="http://WebServices/WSArchivos/cargarArchivo/Fault/IOException"></fault>
</operation>
</portType>
<binding name="WSArchivosPortBinding" type="tns:WSArchivos">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="CargadeDatos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="reproducirListaPD">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="getImagenAlbum">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="reproducirListaP">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="reproducirAlbum">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="cargarDatosBD">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="cargarArchivo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="WSArchivosService">
<port name="WSArchivosPort" binding="tns:WSArchivosPortBinding">
<soap:address location="http://localhost:8089/wsarchivos"></soap:address>
</port>
</service>
</definitions>