src/conf/xml-resources/web-service-references/wsartistas/wsdl/localhost_8088/wsartistas.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebServices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebServices/" name="WSArtistasService">
<types>
<xsd:schema>
<xsd:import namespace="http://WebServices/" schemaLocation="http://localhost:8088/wsartistas?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="listarSeguidores">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarSeguidoresResponse">
<part name="return" type="tns:dataUsuarios"></part>
</message>
<message name="ListarListaPD"></message>
<message name="ListarListaPDResponse">
<part name="return" type="tns:dataListas"></part>
</message>
<message name="BuscarGenero">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="BuscarGeneroResponse">
<part name="return" type="tns:dataGeneros"></part>
</message>
<message name="ElegirArtista">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="ElegirArtistaResponse">
<part name="return" type="tns:dtArtista"></part>
</message>
<message name="ListarArtistas"></message>
<message name="ListarArtistasResponse">
<part name="return" type="tns:dataUsuarios"></part>
</message>
<message name="IngresarArtista">
<part name="arg0" type="tns:dtArtista"></part>
<part name="arg1" type="xsd:base64Binary"></part>
</message>
<message name="IngresarArtistaResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="listarAlbumGenero">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarAlbumGeneroResponse">
<part name="return" type="tns:dataAlbumes"></part>
</message>
<message name="listarTodosAlbumes"></message>
<message name="listarTodosAlbumesResponse">
<part name="return" type="tns:dataAlbumes"></part>
</message>
<message name="ElegirAlbum">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="ElegirAlbumResponse">
<part name="return" type="tns:dtAlbum"></part>
</message>
<message name="GetDataGeneros"></message>
<message name="GetDataGenerosResponse">
<part name="return" type="tns:dataGeneros"></part>
</message>
<message name="getListasGenero">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getListasGeneroResponse">
<part name="return" type="tns:dataListas"></part>
</message>
<message name="IngresarAlbumWeb">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:base64Binary"></part>
<part name="arg4" type="tns:dataTemas"></part>
<part name="arg5" type="tns:dataGeneros"></part>
</message>
<message name="IngresarAlbumWebResponse"></message>
<message name="estaAlbum">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="estaAlbumResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="listarTodosTemas"></message>
<message name="listarTodosTemasResponse">
<part name="return" type="tns:dataTemas"></part>
</message>
<message name="RankingDesendente"></message>
<message name="RankingDesendenteResponse">
<part name="return" type="tns:dataUsuarios"></part>
</message>
<message name="desactivarArtista">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="desactivarArtistaResponse"></message>
<message name="AgregarTemaListaWeb">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:string"></part>
</message>
<message name="AgregarTemaListaWebResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="verificarLoginArtista">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="verificarLoginArtistaResponse">
<part name="return" type="tns:dataUsuarios"></part>
</message>
<message name="nuevaReproduccionTema">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="nuevaReproduccionTemaResponse"></message>
<message name="nuevaDescargaTema">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="nuevaDescargaTemaResponse"></message>
<message name="verificarDatosArt">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="verificarDatosArtResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<portType name="WSArtistas">
<operation name="listarSeguidores">
<input wsam:Action="http://WebServices/WSArtistas/listarSeguidoresRequest" message="tns:listarSeguidores"></input>
<output wsam:Action="http://WebServices/WSArtistas/listarSeguidoresResponse" message="tns:listarSeguidoresResponse"></output>
</operation>
<operation name="ListarListaPD">
<input wsam:Action="http://WebServices/WSArtistas/ListarListaPDRequest" message="tns:ListarListaPD"></input>
<output wsam:Action="http://WebServices/WSArtistas/ListarListaPDResponse" message="tns:ListarListaPDResponse"></output>
</operation>
<operation name="BuscarGenero">
<input wsam:Action="http://WebServices/WSArtistas/BuscarGeneroRequest" message="tns:BuscarGenero"></input>
<output wsam:Action="http://WebServices/WSArtistas/BuscarGeneroResponse" message="tns:BuscarGeneroResponse"></output>
</operation>
<operation name="ElegirArtista">
<input wsam:Action="http://WebServices/WSArtistas/ElegirArtistaRequest" message="tns:ElegirArtista"></input>
<output wsam:Action="http://WebServices/WSArtistas/ElegirArtistaResponse" message="tns:ElegirArtistaResponse"></output>
</operation>
<operation name="ListarArtistas">
<input wsam:Action="http://WebServices/WSArtistas/ListarArtistasRequest" message="tns:ListarArtistas"></input>
<output wsam:Action="http://WebServices/WSArtistas/ListarArtistasResponse" message="tns:ListarArtistasResponse"></output>
</operation>
<operation name="IngresarArtista" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/WSArtistas/IngresarArtistaRequest" message="tns:IngresarArtista"></input>
<output wsam:Action="http://WebServices/WSArtistas/IngresarArtistaResponse" message="tns:IngresarArtistaResponse"></output>
</operation>
<operation name="listarAlbumGenero">
<input wsam:Action="http://WebServices/WSArtistas/listarAlbumGeneroRequest" message="tns:listarAlbumGenero"></input>
<output wsam:Action="http://WebServices/WSArtistas/listarAlbumGeneroResponse" message="tns:listarAlbumGeneroResponse"></output>
</operation>
<operation name="listarTodosAlbumes">
<input wsam:Action="http://WebServices/WSArtistas/listarTodosAlbumesRequest" message="tns:listarTodosAlbumes"></input>
<output wsam:Action="http://WebServices/WSArtistas/listarTodosAlbumesResponse" message="tns:listarTodosAlbumesResponse"></output>
</operation>
<operation name="ElegirAlbum" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/WSArtistas/ElegirAlbumRequest" message="tns:ElegirAlbum"></input>
<output wsam:Action="http://WebServices/WSArtistas/ElegirAlbumResponse" message="tns:ElegirAlbumResponse"></output>
</operation>
<operation name="GetDataGeneros">
<input wsam:Action="http://WebServices/WSArtistas/GetDataGenerosRequest" message="tns:GetDataGeneros"></input>
<output wsam:Action="http://WebServices/WSArtistas/GetDataGenerosResponse" message="tns:GetDataGenerosResponse"></output>
</operation>
<operation name="getListasGenero">
<input wsam:Action="http://WebServices/WSArtistas/getListasGeneroRequest" message="tns:getListasGenero"></input>
<output wsam:Action="http://WebServices/WSArtistas/getListasGeneroResponse" message="tns:getListasGeneroResponse"></output>
</operation>
<operation name="IngresarAlbumWeb" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input wsam:Action="http://WebServices/WSArtistas/IngresarAlbumWebRequest" message="tns:IngresarAlbumWeb"></input>
<output wsam:Action="http://WebServices/WSArtistas/IngresarAlbumWebResponse" message="tns:IngresarAlbumWebResponse"></output>
</operation>
<operation name="estaAlbum" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/WSArtistas/estaAlbumRequest" message="tns:estaAlbum"></input>
<output wsam:Action="http://WebServices/WSArtistas/estaAlbumResponse" message="tns:estaAlbumResponse"></output>
</operation>
<operation name="listarTodosTemas">
<input wsam:Action="http://WebServices/WSArtistas/listarTodosTemasRequest" message="tns:listarTodosTemas"></input>
<output wsam:Action="http://WebServices/WSArtistas/listarTodosTemasResponse" message="tns:listarTodosTemasResponse"></output>
</operation>
<operation name="RankingDesendente">
<input wsam:Action="http://WebServices/WSArtistas/RankingDesendenteRequest" message="tns:RankingDesendente"></input>
<output wsam:Action="http://WebServices/WSArtistas/RankingDesendenteResponse" message="tns:RankingDesendenteResponse"></output>
</operation>
<operation name="desactivarArtista">
<input wsam:Action="http://WebServices/WSArtistas/desactivarArtistaRequest" message="tns:desactivarArtista"></input>
<output wsam:Action="http://WebServices/WSArtistas/desactivarArtistaResponse" message="tns:desactivarArtistaResponse"></output>
</operation>
<operation name="AgregarTemaListaWeb" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input wsam:Action="http://WebServices/WSArtistas/AgregarTemaListaWebRequest" message="tns:AgregarTemaListaWeb"></input>
<output wsam:Action="http://WebServices/WSArtistas/AgregarTemaListaWebResponse" message="tns:AgregarTemaListaWebResponse"></output>
</operation>
<operation name="verificarLoginArtista" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/WSArtistas/verificarLoginArtistaRequest" message="tns:verificarLoginArtista"></input>
<output wsam:Action="http://WebServices/WSArtistas/verificarLoginArtistaResponse" message="tns:verificarLoginArtistaResponse"></output>
</operation>
<operation name="nuevaReproduccionTema" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://WebServices/WSArtistas/nuevaReproduccionTemaRequest" message="tns:nuevaReproduccionTema"></input>
<output wsam:Action="http://WebServices/WSArtistas/nuevaReproduccionTemaResponse" message="tns:nuevaReproduccionTemaResponse"></output>
</operation>
<operation name="nuevaDescargaTema" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://WebServices/WSArtistas/nuevaDescargaTemaRequest" message="tns:nuevaDescargaTema"></input>
<output wsam:Action="http://WebServices/WSArtistas/nuevaDescargaTemaResponse" message="tns:nuevaDescargaTemaResponse"></output>
</operation>
<operation name="verificarDatosArt" parameterOrder="arg0 arg1">
<input wsam:Action="http://WebServices/WSArtistas/verificarDatosArtRequest" message="tns:verificarDatosArt"></input>
<output wsam:Action="http://WebServices/WSArtistas/verificarDatosArtResponse" message="tns:verificarDatosArtResponse"></output>
</operation>
</portType>
<binding name="WSArtistasPortBinding" type="tns:WSArtistas">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="listarSeguidores">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="ListarListaPD">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="BuscarGenero">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="ElegirArtista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="ListarArtistas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="IngresarArtista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="listarAlbumGenero">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="listarTodosAlbumes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="ElegirAlbum">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="GetDataGeneros">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="getListasGenero">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="IngresarAlbumWeb">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="estaAlbum">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="listarTodosTemas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="RankingDesendente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="desactivarArtista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="AgregarTemaListaWeb">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="verificarLoginArtista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="nuevaReproduccionTema">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="nuevaDescargaTema">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
<operation name="verificarDatosArt">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://WebServices/"></soap:body>
</output>
</operation>
</binding>
<service name="WSArtistasService">
<port name="WSArtistasPort" binding="tns:WSArtistasPortBinding">
<soap:address location="http://localhost:8088/wsartistas"></soap:address>
</port>
</service>
</definitions>