src/conf/xml-resources/web-service-references/wsartistas/wsdl/localhost_8088/wsartistas.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://WebServices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices/">

<xs:complexType name="dataAlbumes">
<xs:sequence>
<xs:element name="albumes" type="tns:dtAlbum" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtAlbum">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombreArtista" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="anio" type="xs:int"></xs:element>
<xs:element name="temas" type="tns:dtTema" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="generos" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="rutaImagen" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtTema">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="duracion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="orden" type="xs:int"></xs:element>
<xs:element name="direccion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="archivo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nomartista" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nomalbum" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="archivobyte" type="xs:base64Binary" minOccurs="0"></xs:element>
<xs:element name="cantDescarga" type="xs:int"></xs:element>
<xs:element name="cantReproduccion" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataUsuarios">
<xs:sequence>
<xs:element name="usuarios" type="tns:dtUsuario" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtUsuario" abstract="true">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="contrasenia" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="correo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaNac" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="rutaImagen" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtArtista">
<xs:complexContent>
<xs:extension base="tns:dtUsuario">
<xs:sequence>
<xs:element name="biografia" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="pagWeb" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="cantSeguidores" type="xs:int"></xs:element>
<xs:element name="nickSeguidores" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="albumes" type="tns:dtAlbum" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dtCliente">
<xs:complexContent>
<xs:extension base="tns:dtUsuario">
<xs:sequence>
<xs:element name="usuariosSeguidos" type="tns:dtUsuario" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="listas" type="tns:dtListaP" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="favListas" type="tns:dtLista" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="favTemas" type="tns:dtTema" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="favAlbumes" type="tns:dtAlbum" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="suscripciones" type="tns:dtSuscripcion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dtListaP">
<xs:complexContent>
<xs:extension base="tns:dtLista">
<xs:sequence>
<xs:element name="Usuario" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Privada" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dtLista" abstract="true">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="temas" type="tns:dtTema" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="rutaImagen" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtListaPD">
<xs:complexContent>
<xs:extension base="tns:dtLista">
<xs:sequence>
<xs:element name="Genero" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="dtSuscripcion">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="cliente" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fecha" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Estado" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Tipo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Monto" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataTemas">
<xs:sequence>
<xs:element name="temas" type="tns:dtTema" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataGeneros">
<xs:sequence>
<xs:element name="generos" type="tns:dtGenero" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtGenero">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="idpadre" type="xs:int"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="albumes" type="tns:dtAlbum" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="listaspordefecto" type="tns:dtListaPD" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="hijos" type="tns:dtGenero" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataListas">
<xs:sequence>
<xs:element name="listas" type="tns:dtLista" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>